<div class="container">
  <mat-form-field>
    <mat-label>Total users</mat-label>
    <mat-select
      (selectionChange)="totalUsersSelected($event)"
      [(value)]="totalListValue"
    >
      <mat-option *ngFor="let user of totalUsers" [value]="user.value">
        {{ user.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-users-list
    [users]="userList"
    (userDetailsSelected)="userDetailsSelected($event)"
    (getUsers)="getUsers()"
  ></app-users-list>
</div>
